<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="chocolatey" />
  <package id="ChocolateyGUI" />
  <package id="GoogleChrome" />
  <package id="PowerShell" />
  <package id="Firefox" />
  <package id="msys2" />
  <package id="visualstudiocode" />
  <package id="git" />
  <package id="vim" />
  <package id="winmerge" />
  <package id="notepadplusplus" />
  <package id="wireshark" />
  <package id="golang" />
  <package id="python" />
  <package id="nvm" />
  <package id="putty" />
  <package id="rapidee" />
  <package id="rabbitmq" />
</packages>