# https://github.com/github/gitignore
# ------------------------------------

# Windows
# ----------
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


# OSX
# ----------
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# vim
# ----------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.vim/bundle/*
.vim/userautoload/private_*


# emacs
# ----------
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/


# Others
# ----------
*.o
*.log
tags
TAGS
.svn/
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# add
# ----------
!.gitkeep
*.env
.vim/tmp
.vim/autoload/plug.vim
.vim/plugged/

